@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
    ;
}

.people {
    background-color: #411530;
    padding: 10px;
    border-radius: 10px;
}

.people h2 {
    color: white;
}

.people p {
    color: white;
}


@media (max-width:600px) {
    header {
        width: 440px;
    }

    .principal-land .log-land {
        width: min-content;
    }

    .principal-land h1 {
        font-size: 60px;
    }

    .produtos .lolja img {
        width: 300px;
    }

    .texto-cartaz1 p {
        font-size: 30px;
    }

    .texto-cartaz2 p {
        font-size: 30px;
    }

    .texto-cartaz1 div img {
        width: 150px;
    }

    .texto-cartaz1 div img:hover {
        width: 250px;
    }

    .texto-cartaz2 div img {
        width: 150px;
    }

    .texto-cartaz2 div img:hover {
        width: 250px;
    }

    .divizaco {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        width: 100%;
    }

    .offer img {
        width: 100px;
    }

    .offer .mega {
        width: 300px;
    }

    .thx img {
        width: 200px;
        height: 150px;
    }
}

::placeholder {
    color: black;
}

hr {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #411530d5, rgba(255, 255, 255, 0));
}

body {
    background-image: url(../img/back2.png);
    background-color: #b89f97;
}



/*parte dos logins*/
header {
    display: flex;
    background-color: #bfae91;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.botao {
    transition: 300ms;
    background-color: #D1512D;
    color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 12px;
    font-size: 20px;
}

.botao:hover {
    box-shadow: 0px 0px 12px black;
    transition: 300ms;
    background-color: #A73F22;
    color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 12px;
    font-size: 20px;
}

.principal {
    display: flex;
    justify-content: center;
    margin: 10px;
}

main .logis {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 30px;
    background-color: #411530d5;
    border-radius: 10px;
    margin-right: 20px;
}

main ul {
    list-style-type: none;
}

main li {
    margin-bottom: 30px;
    text-align: center;
}

main li p {
    font-size: 30px;
    color: white;
}

main li input {
    transition: 200ms;
    font-size: 20px;
    border-radius: 5px;
    padding: 2px;
    background-color: #9F9F9F;
}

main li input:hover {
    box-shadow: 0px 0px 12px black;
    transition: 200ms;
    font-size: 20px;
    border-radius: 5px;
    padding: 2px;
    background-color: #6d6d6d;
}

main li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

main img {
    display: flex;
    width: 200px;
    margin: auto;
}

footer img {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin: 15px;
    height: 170px;
    border: 2px solid black;
    background-size: contain;
}

#uploads{
    display: flex;
    flex-wrap: wrap;
    font-size: 60px;
    background-color: #D1512D;
    color: white;
    padding: 5px;
    width: 100%;
}

.up{
    width: 550px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.up img {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 5px solid black;
}

/*Parte do footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    font-size: 20px;
}

footer ul {
    list-style-type: none;
}

footer li {
    margin-bottom: 15px;
}

footer a {
    text-decoration: none;
    color: black;
}

/*parte da landpage*/
.principal-land {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .log-land {
    flex-wrap: wrap;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 30px;
    background-color: #411530d5;
    border-radius: 10px;
}

main .log-land h1 {
    display: flex;
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

main .log-land p {
    display: flex;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

main .log-land input {
    display: flex;
    width: fit-content;
    margin-bottom: 20px;
}

main .log-land a {
    text-decoration: none;
    display: flex;
    width: fit-content;
}

main h1 {
    font-size: 100px;
}

.offer {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

main .offer .mega {
    width: 600px;
}

.texto-cartaz1 {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    font-weight: 700
}

.texto-cartaz1 img {
    transition: 300ms;
    width: 200px;
}

.texto-cartaz1 img:hover {
    transition: 300ms;
    width: 500px;
}

.texto-cartaz2 img {
    transition: 300ms;
    width: 200px;
}

.texto-cartaz2 img:hover {
    transition: 300ms;
    width: 500px;
}

.texto-cartaz2 {
    display: flex;
    margin-top: 20px;
    margin-right: 15px;
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;
    font-weight: 700
}

.lolja {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lolja img {
    transition: 300ms;
    width: 600px;
}

.music {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music img {
    transition: 300ms;
    width: 100px;
}

.music img:hover {
    transition: 300ms;
    width: 300px;
}

.music p {
    font-size: 30px;
}

.produtos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*parte dos filmes*/
.selecione {
    overflow: scroll;
    padding: 10px;
    display: flex;
    margin: 10px;
    margin-bottom: 35px;
    background-color: #411530;
    max-height: 420px;
}

.selecione::-webkit-scrollbar {
    display: none;

}

.selecione img {
    margin-left: 15px;
    height: 400px;
    width: 250px;
}

.watch {
    padding: 5px;
    margin: 15px;
    font-size: 40px;
    border-radius: 15px;
    background-color: #d1512dcd;
    width: fit-content;

}

.selecione .item {
    cursor: pointer;
}

.selecione .item .overlay {
    display: none;
}

.selecione .item:hover img {
    display: none;
}

.selecione .item:hover .overlay {
    display: block;
    width: 500px;
}

.selecione .item:hover .overlay2 {
    display: block;
    position: relative;
    top: -80px;
    background-color: rgba(255, 255, 255, 0.481);
}

/*Parte da loja*/

.centro {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 50px;
}

.selecione {
    overflow: scroll;
    padding: 10px;
    display: flex;
    margin: 10px;
    margin-bottom: 35px;
    background-color: #411530;
}

.selecione .prod {
    width: 400px;
}

/*Parte da midia*/

#lil_fix {
    margin-bottom: 10px;
}

.main_upload {
    display: flex;
}

.inpADD {
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
}

.midia {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: rgb(131, 108, 88);
    height: 50%;
    width: 50%;
    margin: 25px;
    padding: 20px;
}

/*Parte do perfil*/

.pfp {
    width: 40px;
}

.des {
    background-color: #D1512D;
    color: white;
}

/*Script*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

/*! poster*/
.titulo{
    color: yellow;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    margin-top: -60px;
    text-align: center;
    font-size: 30px;
}

.poster{
    height:350px;
}

.poster .poster_img{
    width: 250px;
    height: 350px;
}